* {
	padding: 0;
	margin: 0;
}

:root {
	--theme-color: #07b9c9;
}

li {
	list-style: none;
}

button {
	background-color: var(--theme-color);
	color: aliceblue;
	padding: 20px;
	margin: 20px;
	border: 0;
	border-radius: 10px;
	font-size: 16px;
}

header {
	display: flex;
	padding: 10px;
	align-items: center;
}

header img {
	height: 100px;
	width: 100px;
}

header h1 {
	width: 220px;
	font-size: 18px;
	padding: 10px;
}

header .rate {
	width: 50px;
	height: 50px;
	background: url(https://assets.tapimg.com/img/background/rating_score@2x-99a4cf2f6b.png);
	color: #fff;
	background-size: cover;
	text-align: center;
	font-size: 24px;
}

main {
	display: flex;
	justify-content: center;
}

.screenshot {
	width: 100%;
	overflow: scroll;
	border-top: 1px solid #eee;
	padding: 15px;
	box-sizing: border-box;
}

.comments {
	width: 100%;
	overflow: scroll;
	border-top: 10px solid #eee;
}

.screenshot ul li {
	display: inline-block;
}

.screenshot ul {
	display: flex;
}

.screenshot img {
	height: 170px;
	padding: 5px;
}
.screenshot h3 {
	padding: 5px;
}

.screenshot p {
	color: #666;
	padding: 10px 5px;
    height: 75px;
    font-size: 14px;
    overflow: hidden;

}

.comments li .bio {
	display: flex;
	align-items: center;
}

.comments li {
	padding: 5px 15px;
	border-bottom: 10px solid #eee;
}

.comments h3 {
	padding: 15px;
}

.bio .avatar {
	height: 40px;
	width: 40px;
	border-radius: 20px;
}
.bio .avatar{
    margin: 10px 10px 0 0;
}
.comments li p{
    padding: 15px 0;
}