$accentColor = #f43232
$textColor = #2c3e50
$borderColor = #e3e3e3
$codeBgColor = #f8f8f8

h2
    border-bottom 0px
.home-link
    height 50px
    background url(http://wx3.sinaimg.cn/mw690/0060lm7Tly1fsmdel791gj301e01et8s.jpg) no-repeat
    margin-top -15px
.navbar .site-name
    padding 7px 0 0 60px   
.navbar
    box-shadow: 0 0 4px rgba(0,0,0,0.25)
    border-bottom: 0px
    height 5rem
    padding 1.4rem 1.5rem
.navbar .links
    top 1.4rem    
.nav-item:last-child
    vertical-align: top
    a
        display block
        background  url(http://wx4.sinaimg.cn/mw690/0060lm7Tly1fsme8novpcj300v00ut8p.jpg) no-repeat
        text-indent:-9999em
        height 34px
        width 33px
.sidebar
    border-right 0px  
    top 5rem  
a.sidebar-link 
    padding: 0
    display inline
a.sidebar-link:hover
    margin-bottom: -2px;
    border-bottom: 2px solid #f54242; 
a.sidebar-link.active
    border-left:0 
.sidebar-sub-headers a.sidebar-link
    margin 0.25px 0
    padding 0    
.sidebar-group a.sidebar-link
    padding-left 0    
.sidebar-group-items
    padding-left 1rem !important   
.sidebar-group-items li 
    padding-left 1.5rem
.content:not(.custom) > *:first-child
    margin-top 5rem    
.content:not(.custom) > h1, .content:not(.custom) > h2, .content:not(.custom) > h3, .content:not(.custom) > h4, .content:not(.custom) > h5, .content:not(.custom) > h6
    padding-top  6rem
.content:not(.custom)
    max-width 960px
.content pre code, .content pre[class*="language-"] code 
    color #333    

.sidebar-heading.open
    display none    